In [1]:
import requests
import numpy as np
import pandas as pd

In [2]:
laguardia_data2 = pd.read_csv("Laguardia_data.csv")
cp_data2 = pd.read_csv("Central_park_data2.csv")
combined = pd.concat([laguardia_data2, cp_data2]).reset_index(drop = True)

combined.head(30)

# drop STATION, REPORT_TYPE, SOURCE because it is not important
combined = combined.drop(columns = ["STATION"])
combined

C:\Users\kimbe\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (30,31,33,41,42,43,46,49,51,56,71,73,75,76,89) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\kimbe\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (3,5,7,8,11,14,30,31,32,33,34,36,41,42,43,46,48,49,51,52,53,72,75,76,89,95,96,97,98,99,100,101,102,103,104,105,106,107,123) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,DATE,REPORT_TYPE,SOURCE,AWND,BackupDirection,BackupDistance,BackupDistanceUnit,BackupElements,BackupElevation,BackupElevationUnit,...,ShortDurationPrecipitationValue060,ShortDurationPrecipitationValue080,ShortDurationPrecipitationValue100,ShortDurationPrecipitationValue120,ShortDurationPrecipitationValue150,ShortDurationPrecipitationValue180,Sunrise,Sunset,TStorms,WindEquipmentChangeDate
0,2011-05-02T00:51:00,FM-15,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011-05-02T01:00:00,FM-12,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011-05-02T01:51:00,FM-15,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011-05-02T02:51:00,FM-15,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2011-05-02T03:51:00,FM-15,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274181,2012-04-30T15:53:00,FM-15,4,NaN,ESE,0.5,mi,SNOW,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9/18/2006
274182,2012-04-30T16:00:00,FM-12,4,NaN,ESE,0.5,mi,SNOW,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9/18/2006
274183,2012-04-30T16:53:00,FM-15,4,NaN,ESE,0.5,mi,SNOW,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9/18/2006
274184,2012-04-30T17:53:00,FM-15,4,NaN,ESE,0.5,mi,SNOW,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9/18/2006
274185,2012-04-30T18:53:00,FM-15,4,NaN,ESE,0.5,mi,SNOW,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9/18/2006

In [3]:
# use pd.timestamp to get year, month, and day

combined["DATE"] = combined.DATE.map(pd.Timestamp)
combined["YEAR"] = combined.DATE.map(lambda dt: dt.year)   #extract year from DATE
combined["MONTH"] = combined.DATE.map(lambda dm: dm.month)
combined["DAY"] = combined.DATE.map(lambda dd: dd.day)
combined = combined.sort_values(by = ["YEAR", "MONTH", "DAY"], ascending = False)
combined = combined.reset_index(drop = True)
combined.tail(20)
 
combined

,DATE,REPORT_TYPE,SOURCE,AWND,BackupDirection,BackupDistance,BackupDistanceUnit,BackupElements,BackupElevation,BackupElevationUnit,...,ShortDurationPrecipitationValue120,ShortDurationPrecipitationValue150,ShortDurationPrecipitationValue180,Sunrise,Sunset,TStorms,WindEquipmentChangeDate,YEAR,MONTH,DAY
0,2021-04-19 00:51:00,FM-15,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,4,19
1,2021-04-19 01:00:00,FM-12,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,4,19
2,2021-04-19 01:51:00,FM-15,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,4,19
3,2021-04-19 02:51:00,FM-15,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,4,19
4,2021-04-19 03:51:00,FM-15,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,4,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274181,2011-05-02 22:51:00,FM-15,2,NaN,ESE,0.5,mi,SNOW,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,9/18/2006,2011,5,2
274182,2011-05-02 22:53:00,AUTO,1,NaN,ESE,0.5,mi,SNOW,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,9/18/2006,2011,5,2
274183,2011-05-02 23:51:00,FM-15,2,NaN,ESE,0.5,mi,SNOW,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,9/18/2006,2011,5,2
274184,2011-05-02 23:53:00,AUTO,1,NaN,ESE,0.5,mi,SNOW,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,9/18/2006,2011,5,2
274185,2011-05-02 23:59:00,SOD,6,NaN,ESE,0.5,mi,SNOW,NaN,NaN,...,NaN,NaN,NaN,453.0,1853.0,NaN,9/18/2006,2011,5,2

In [4]:
# find columns with NAs
check_missing = combined.isna().any()
missing = check_missing[check_missing == True]
missing = list(missing.index)
missing

['AWND',
 'BackupDirection',
 'BackupDistance',
 'BackupDistanceUnit',
 'BackupElements',
 'BackupElevation',
 'BackupElevationUnit',
 'BackupEquipment',
 'BackupLatitude',
 'BackupLongitude',
 'BackupName',
 'CDSD',
 'CLDD',
 'DSNW',
 'DailyAverageDewPointTemperature',
 'DailyAverageDryBulbTemperature',
 'DailyAverageRelativeHumidity',
 'DailyAverageSeaLevelPressure',
 'DailyAverageStationPressure',
 'DailyAverageWetBulbTemperature',
 'DailyAverageWindSpeed',
 'DailyCoolingDegreeDays',
 'DailyDepartureFromNormalAverageTemperature',
 'DailyHeatingDegreeDays',
 'DailyMaximumDryBulbTemperature',
 'DailyMinimumDryBulbTemperature',
 'DailyPeakWindDirection',
 'DailyPeakWindSpeed',
 'DailyPrecipitation',
 'DailySnowDepth',
 'DailySnowfall',
 'DailySustainedWindDirection',
 'DailySustainedWindSpeed',
 'DailyWeather',
 'HDSD',
 'HTDD',
 'HeavyFog',
 'HourlyAltimeterSetting',
 'HourlyDewPointTemperature',
 'HourlyDryBulbTemperature',
 'HourlyPrecipitation',
 'HourlyPresentWeatherType',
 'HourlyPressureChange',
 'HourlyPressureTendency',
 'HourlyRelativeHumidity',
 'HourlySeaLevelPressure',
 'HourlySkyConditions',
 'HourlyStationPressure',
 'HourlyVisibility',
 'HourlyWetBulbTemperature',
 'HourlyWindDirection',
 'HourlyWindGustSpeed',
 'HourlyWindSpeed',
 'MonthlyAverageRH',
 'MonthlyDaysWithGT001Precip',
 'MonthlyDaysWithGT010Precip',
 'MonthlyDaysWithGT32Temp',
 'MonthlyDaysWithGT90Temp',
 'MonthlyDaysWithLT0Temp',
 'MonthlyDaysWithLT32Temp',
 'MonthlyDepartureFromNormalAverageTemperature',
 'MonthlyDepartureFromNormalCoolingDegreeDays',
 'MonthlyDepartureFromNormalHeatingDegreeDays',
 'MonthlyDepartureFromNormalMaximumTemperature',
 'MonthlyDepartureFromNormalMinimumTemperature',
 'MonthlyDepartureFromNormalPrecipitation',
 'MonthlyDewpointTemperature',
 'MonthlyGreatestPrecip',
 'MonthlyGreatestPrecipDate',
 'MonthlyGreatestSnowDepth',
 'MonthlyGreatestSnowDepthDate',
 'MonthlyGreatestSnowfall',
 'MonthlyGreatestSnowfallDate',
 'MonthlyMaxSeaLevelPressureValue',
 'MonthlyMaxSeaLevelPressureValueDate',
 'MonthlyMaxSeaLevelPressureValueTime',
 'MonthlyMaximumTemperature',
 'MonthlyMeanTemperature',
 'MonthlyMinSeaLevelPressureValue',
 'MonthlyMinSeaLevelPressureValueDate',
 'MonthlyMinSeaLevelPressureValueTime',
 'MonthlyMinimumTemperature',
 'MonthlySeaLevelPressure',
 'MonthlyStationPressure',
 'MonthlyTotalLiquidPrecipitation',
 'MonthlyTotalSnowfall',
 'MonthlyWetBulb',
 'NormalsCoolingDegreeDay',
 'NormalsHeatingDegreeDay',
 'REM',
 'ShortDurationEndDate005',
 'ShortDurationEndDate010',
 'ShortDurationEndDate015',
 'ShortDurationEndDate020',
 'ShortDurationEndDate030',
 'ShortDurationEndDate045',
 'ShortDurationEndDate060',
 'ShortDurationEndDate080',
 'ShortDurationEndDate100',
 'ShortDurationEndDate120',
 'ShortDurationEndDate150',
 'ShortDurationEndDate180',
 'ShortDurationPrecipitationValue005',
 'ShortDurationPrecipitationValue010',
 'ShortDurationPrecipitationValue015',
 'ShortDurationPrecipitationValue020',
 'ShortDurationPrecipitationValue030',
 'ShortDurationPrecipitationValue045',
 'ShortDurationPrecipitationValue060',
 'ShortDurationPrecipitationValue080',
 'ShortDurationPrecipitationValue100',
 'ShortDurationPrecipitationValue120',
 'ShortDurationPrecipitationValue150',
 'ShortDurationPrecipitationValue180',
 'Sunrise',
 'Sunset',
 'TStorms',
 'WindEquipmentChangeDate']

In [5]:
# drop columns that are not important

combined_col = list(combined.columns)

combined = combined.drop(columns = ["DATE", "REPORT_TYPE", "SOURCE"])

remove_list = []
for i in range(len(combined_col)):
    if "Backup" in combined_col[i]:
        remove_list.append(combined_col[i])
        
remove_list

combined = combined.drop(columns = remove_list)

combined

,AWND,CDSD,CLDD,DSNW,DailyAverageDewPointTemperature,DailyAverageDryBulbTemperature,DailyAverageRelativeHumidity,DailyAverageSeaLevelPressure,DailyAverageStationPressure,DailyAverageWetBulbTemperature,...,ShortDurationPrecipitationValue120,ShortDurationPrecipitationValue150,ShortDurationPrecipitationValue180,Sunrise,Sunset,TStorms,WindEquipmentChangeDate,YEAR,MONTH,DAY
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,4,19
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,4,19
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,4,19
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,4,19
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,4,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,9/18/2006,2011,5,2
274182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,9/18/2006,2011,5,2
274183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,9/18/2006,2011,5,2
274184,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,9/18/2006,2011,5,2
274185,NaN,NaN,NaN,NaN,46.0,57.0,68.0,30.21,30.07,51.0,...,NaN,NaN,NaN,453.0,1853.0,NaN,9/18/2006,2011,5,2

In [6]:
# get remaining NAs

check_missing = combined.isna().any()
missing = check_missing[check_missing == True]
missing = list(missing.index)
missing

['AWND',
 'CDSD',
 'CLDD',
 'DSNW',
 'DailyAverageDewPointTemperature',
 'DailyAverageDryBulbTemperature',
 'DailyAverageRelativeHumidity',
 'DailyAverageSeaLevelPressure',
 'DailyAverageStationPressure',
 'DailyAverageWetBulbTemperature',
 'DailyAverageWindSpeed',
 'DailyCoolingDegreeDays',
 'DailyDepartureFromNormalAverageTemperature',
 'DailyHeatingDegreeDays',
 'DailyMaximumDryBulbTemperature',
 'DailyMinimumDryBulbTemperature',
 'DailyPeakWindDirection',
 'DailyPeakWindSpeed',
 'DailyPrecipitation',
 'DailySnowDepth',
 'DailySnowfall',
 'DailySustainedWindDirection',
 'DailySustainedWindSpeed',
 'DailyWeather',
 'HDSD',
 'HTDD',
 'HeavyFog',
 'HourlyAltimeterSetting',
 'HourlyDewPointTemperature',
 'HourlyDryBulbTemperature',
 'HourlyPrecipitation',
 'HourlyPresentWeatherType',
 'HourlyPressureChange',
 'HourlyPressureTendency',
 'HourlyRelativeHumidity',
 'HourlySeaLevelPressure',
 'HourlySkyConditions',
 'HourlyStationPressure',
 'HourlyVisibility',
 'HourlyWetBulbTemperature',
 'HourlyWindDirection',
 'HourlyWindGustSpeed',
 'HourlyWindSpeed',
 'MonthlyAverageRH',
 'MonthlyDaysWithGT001Precip',
 'MonthlyDaysWithGT010Precip',
 'MonthlyDaysWithGT32Temp',
 'MonthlyDaysWithGT90Temp',
 'MonthlyDaysWithLT0Temp',
 'MonthlyDaysWithLT32Temp',
 'MonthlyDepartureFromNormalAverageTemperature',
 'MonthlyDepartureFromNormalCoolingDegreeDays',
 'MonthlyDepartureFromNormalHeatingDegreeDays',
 'MonthlyDepartureFromNormalMaximumTemperature',
 'MonthlyDepartureFromNormalMinimumTemperature',
 'MonthlyDepartureFromNormalPrecipitation',
 'MonthlyDewpointTemperature',
 'MonthlyGreatestPrecip',
 'MonthlyGreatestPrecipDate',
 'MonthlyGreatestSnowDepth',
 'MonthlyGreatestSnowDepthDate',
 'MonthlyGreatestSnowfall',
 'MonthlyGreatestSnowfallDate',
 'MonthlyMaxSeaLevelPressureValue',
 'MonthlyMaxSeaLevelPressureValueDate',
 'MonthlyMaxSeaLevelPressureValueTime',
 'MonthlyMaximumTemperature',
 'MonthlyMeanTemperature',
 'MonthlyMinSeaLevelPressureValue',
 'MonthlyMinSeaLevelPressureValueDate',
 'MonthlyMinSeaLevelPressureValueTime',
 'MonthlyMinimumTemperature',
 'MonthlySeaLevelPressure',
 'MonthlyStationPressure',
 'MonthlyTotalLiquidPrecipitation',
 'MonthlyTotalSnowfall',
 'MonthlyWetBulb',
 'NormalsCoolingDegreeDay',
 'NormalsHeatingDegreeDay',
 'REM',
 'ShortDurationEndDate005',
 'ShortDurationEndDate010',
 'ShortDurationEndDate015',
 'ShortDurationEndDate020',
 'ShortDurationEndDate030',
 'ShortDurationEndDate045',
 'ShortDurationEndDate060',
 'ShortDurationEndDate080',
 'ShortDurationEndDate100',
 'ShortDurationEndDate120',
 'ShortDurationEndDate150',
 'ShortDurationEndDate180',
 'ShortDurationPrecipitationValue005',
 'ShortDurationPrecipitationValue010',
 'ShortDurationPrecipitationValue015',
 'ShortDurationPrecipitationValue020',
 'ShortDurationPrecipitationValue030',
 'ShortDurationPrecipitationValue045',
 'ShortDurationPrecipitationValue060',
 'ShortDurationPrecipitationValue080',
 'ShortDurationPrecipitationValue100',
 'ShortDurationPrecipitationValue120',
 'ShortDurationPrecipitationValue150',
 'ShortDurationPrecipitationValue180',
 'Sunrise',
 'Sunset',
 'TStorms',
 'WindEquipmentChangeDate']

In [7]:
# use isna().sum() to determine which columns is more than 50% NAs, then remove it
remove_list = []

for col in combined.columns:
    if combined[col].isna().sum()> (len(combined)/2):
        remove_list.append(col)
        
remove_list

['AWND',
 'CDSD',
 'CLDD',
 'DSNW',
 'DailyAverageDewPointTemperature',
 'DailyAverageDryBulbTemperature',
 'DailyAverageRelativeHumidity',
 'DailyAverageSeaLevelPressure',
 'DailyAverageStationPressure',
 'DailyAverageWetBulbTemperature',
 'DailyAverageWindSpeed',
 'DailyCoolingDegreeDays',
 'DailyDepartureFromNormalAverageTemperature',
 'DailyHeatingDegreeDays',
 'DailyMaximumDryBulbTemperature',
 'DailyMinimumDryBulbTemperature',
 'DailyPeakWindDirection',
 'DailyPeakWindSpeed',
 'DailyPrecipitation',
 'DailySnowDepth',
 'DailySnowfall',
 'DailySustainedWindDirection',
 'DailySustainedWindSpeed',
 'DailyWeather',
 'HDSD',
 'HTDD',
 'HeavyFog',
 'HourlyPresentWeatherType',
 'HourlyPressureChange',
 'HourlyPressureTendency',
 'HourlyWindGustSpeed',
 'MonthlyAverageRH',
 'MonthlyDaysWithGT001Precip',
 'MonthlyDaysWithGT010Precip',
 'MonthlyDaysWithGT32Temp',
 'MonthlyDaysWithGT90Temp',
 'MonthlyDaysWithLT0Temp',
 'MonthlyDaysWithLT32Temp',
 'MonthlyDepartureFromNormalAverageTemperature',
 'MonthlyDepartureFromNormalCoolingDegreeDays',
 'MonthlyDepartureFromNormalHeatingDegreeDays',
 'MonthlyDepartureFromNormalMaximumTemperature',
 'MonthlyDepartureFromNormalMinimumTemperature',
 'MonthlyDepartureFromNormalPrecipitation',
 'MonthlyDewpointTemperature',
 'MonthlyGreatestPrecip',
 'MonthlyGreatestPrecipDate',
 'MonthlyGreatestSnowDepth',
 'MonthlyGreatestSnowDepthDate',
 'MonthlyGreatestSnowfall',
 'MonthlyGreatestSnowfallDate',
 'MonthlyMaxSeaLevelPressureValue',
 'MonthlyMaxSeaLevelPressureValueDate',
 'MonthlyMaxSeaLevelPressureValueTime',
 'MonthlyMaximumTemperature',
 'MonthlyMeanTemperature',
 'MonthlyMinSeaLevelPressureValue',
 'MonthlyMinSeaLevelPressureValueDate',
 'MonthlyMinSeaLevelPressureValueTime',
 'MonthlyMinimumTemperature',
 'MonthlySeaLevelPressure',
 'MonthlyStationPressure',
 'MonthlyTotalLiquidPrecipitation',
 'MonthlyTotalSnowfall',
 'MonthlyWetBulb',
 'NormalsCoolingDegreeDay',
 'NormalsHeatingDegreeDay',
 'ShortDurationEndDate005',
 'ShortDurationEndDate010',
 'ShortDurationEndDate015',
 'ShortDurationEndDate020',
 'ShortDurationEndDate030',
 'ShortDurationEndDate045',
 'ShortDurationEndDate060',
 'ShortDurationEndDate080',
 'ShortDurationEndDate100',
 'ShortDurationEndDate120',
 'ShortDurationEndDate150',
 'ShortDurationEndDate180',
 'ShortDurationPrecipitationValue005',
 'ShortDurationPrecipitationValue010',
 'ShortDurationPrecipitationValue015',
 'ShortDurationPrecipitationValue020',
 'ShortDurationPrecipitationValue030',
 'ShortDurationPrecipitationValue045',
 'ShortDurationPrecipitationValue060',
 'ShortDurationPrecipitationValue080',
 'ShortDurationPrecipitationValue100',
 'ShortDurationPrecipitationValue120',
 'ShortDurationPrecipitationValue150',
 'ShortDurationPrecipitationValue180',
 'Sunrise',
 'Sunset',
 'TStorms',
 'WindEquipmentChangeDate']

In [8]:
combined = combined.drop(columns = remove_list)
combined.columns

Index(['HourlyAltimeterSetting', 'HourlyDewPointTemperature',
       'HourlyDryBulbTemperature', 'HourlyPrecipitation',
       'HourlyRelativeHumidity', 'HourlySeaLevelPressure',
       'HourlySkyConditions', 'HourlyStationPressure', 'HourlyVisibility',
       'HourlyWetBulbTemperature', 'HourlyWindDirection', 'HourlyWindSpeed',
       'REM', 'REPORT_TYPE.1', 'SOURCE.1', 'YEAR', 'MONTH', 'DAY'],
      dtype='object')

In [9]:
check_missing = combined.isna().any()
missing = check_missing[check_missing == True]
missing
combined.dtypes

HourlyAltimeterSetting       object
HourlyDewPointTemperature    object
HourlyDryBulbTemperature     object
HourlyPrecipitation          object
HourlyRelativeHumidity       object
HourlySeaLevelPressure       object
HourlySkyConditions          object
HourlyStationPressure        object
HourlyVisibility             object
HourlyWetBulbTemperature     object
HourlyWindDirection          object
HourlyWindSpeed              object
REM                          object
REPORT_TYPE.1                object
SOURCE.1                     object
YEAR                          int64
MONTH                         int64
DAY                           int64
dtype: object

In [10]:
# looking at original data, remove columns not needed

combined = combined.drop(columns = ["HourlyWindDirection","HourlySkyConditions", "REM", "REPORT_TYPE.1", "SOURCE.1", "HourlyAltimeterSetting"])
combined.head(20)

,HourlyDewPointTemperature,HourlyDryBulbTemperature,HourlyPrecipitation,HourlyRelativeHumidity,HourlySeaLevelPressure,HourlyStationPressure,HourlyVisibility,HourlyWetBulbTemperature,HourlyWindSpeed,YEAR,MONTH,DAY
0,38,55,0,53,29.85,29.83,10,47,0,2021,4,19
1,38,55,NaN,53,29.85,29.82,9.94,47,0,2021,4,19
2,35,56,0,46,29.85,29.82,10,46,0,2021,4,19
3,37,55,0,51,29.86,29.83,10,47,6,2021,4,19
4,36,54,0,51,29.86,29.83,10,46,5,2021,4,19
5,36,54,NaN,51,29.86,29.82,9.94,46,5,2021,4,19
6,41,54,T,62,29.85,29.82,10,48,3,2021,4,19
7,40,52,0,64,29.86,29.83,10,46,3,2021,4,19
8,39,56,0,53,29.86,29.84,10,48,3,2021,4,19
9,39,56,NaN,53,29.86,29.83,9.94,48,3,2021,4,19
10,39,59,0,48,29.86,29.83,10,49,3,2021,4,19
11,38,60,0,44,29.85,29.83,10,49,8,2021,4,19
12,39,61,0,44,29.84,29.81,10,50,9,2021,4,19
13,39,61,NaN,44,29.84,29.8,9.94,50,9,2021,4,19
14,37,62,0,40,29.83,29.8,10,50,7,2021,4,19
15,35,64,0,34,29.82,29.79,10,50,13,2021,4,19
16,34,62,0,35,29.81,29.78,10,49,10,2021,4,19
17,34,62,NaN,35,29.81,29.77,9.94,49,10,2021,4,19
18,35,62,0,37,29.81,29.78,10,49,14,2021,4,19
19,37,61,0,41,29.8,29.77,10,49,11,2021,4,19

In [11]:
# convert object columns to float so that mean can be calculated

columns = ["HourlyDewPointTemperature", 
           "HourlyDryBulbTemperature", 
           "HourlyPrecipitation", 
           "HourlyRelativeHumidity", 
           "HourlySeaLevelPressure",
           "HourlyStationPressure", 
           "HourlyVisibility",
           "HourlyWetBulbTemperature", 
           "HourlyWindSpeed"]

# see percentage of data missing
for i in range(len(columns)):
    col = columns[i]
    print(col, ":", combined[col].isna().sum())
    print("Percentage of data missing:", (combined[col].isna().sum()/len(combined))*100)

value_list = []                         # unable to convert columns to float, need to look into values
for i in range(len(columns)):
    col = columns[i]
    value = combined[col].value_counts()
    value_list.append(value.index.unique())
print(value_list)

HourlyDewPointTemperature : 7934
Percentage of data missing: 2.8936561312393776
HourlyDryBulbTemperature : 8107
Percentage of data missing: 2.956751985878199
HourlyPrecipitation : 83230
Percentage of data missing: 30.355306251960346
HourlyRelativeHumidity : 8226
Percentage of data missing: 3.0001531806875623
HourlySeaLevelPressure : 56756
Percentage of data missing: 20.69981691260677
HourlyStationPressure : 34675
Percentage of data missing: 12.646524621971947
HourlyVisibility : 8671
Percentage of data missing: 3.1624517663192138
HourlyWetBulbTemperature : 34928
Percentage of data missing: 12.738797750432187
HourlyWindSpeed : 19343
Percentage of data missing: 7.054700094096708
[Index([  '64',   '66',   '61',   '63',   '54',   '55',   '52',   '57',   '70',
         '43',
       ...
        '-5s',  '49s',  '44s',  '58s',  '32s',  '37s', '-12s',  '50s',  '-16',
        '21s'],
      dtype='object', length=224), Index([ 73.0,  72.0,  43.0,  39.0,  '70',  45.0,  74.0,  '72',  41.0,  75.0,
       ...
       '35s', '81s', '34s', '33s', '48s',  '-1',   '1',   '2', '82s', '95s'],
      dtype='object', length=226), Index(['0', 'T', '0.01', '0.02', '0.03', '0.04', '0.05', '0.06', '0.07',
       '0.08',
       ...
       '0.78s', '1.44', '1.36s', '1.06', '1.13', '0.19s', '0.98', '1.1',
       '0.59s', '1.27'],
      dtype='object', length=183), Index([ 93.0,  94.0, 100.0,  87.0,  90.0,  89.0,  88.0,  82.0,  83.0,  55.0,
       ...
        10.0,  98.0,  '18',   '*',   '8',   '7',  99.0,  '10',   '9',   9.0],
      dtype='object', length=183), Index([ '29.98',  '30.01',  '30.03',  '30.06',  '29.96',  '30.09',  '30.11',
        '29.93',  '30.14',  '29.88',
       ...
       '29.17s', '29.29s',     29.1, '28.92s', '29.41s', '29.65s',    29.17,
          28.58,  '28.67',    28.67],
      dtype='object', length=426), Index([ '29.94',  '29.99',  '29.98',  '29.95',  '29.89',  '29.91',  '29.92',
        '29.93',  '29.96',  '29.88',
       ...
          28.77,    28.94,    29.09, '29.86s', '29.30s', '29.52s',    28.45,
          29.07,     28.4,    28.88],
      dtype='object', length=481), Index([   '10',  '9.94',     '9',     '3',     '8',     '7',     '6',     '5',
           '4',   '2.5',     '2',    10.0,   '1.5',  '1.75',     '1',   '0.5',
        '0.25',  '0.75',  '1.25',  '7.46',  '6.84',   '8.7',  '5.59',  '4.97',
           9.0,     3.0,  '2.98',     2.5,     4.0,     8.0,  '1.99',  '3.73',
           7.0,     5.0, '2.50V',     6.0,     2.0,  '2.49',    1.75, '2.00V',
        '1.49',  '0.99',  '0.12',     1.5, '1.75V',     '0',     1.0,    1.25,
          0.75, '1.50V',     0.5,  '1.24', '1.00V',  '1.74', '0.25s',    0.25,
       '1.25V', '0.50s', '3.00V', '0.75V', '0.50V', '0.25V',    0.63,  '0.06',
       '0.12V', '0.00V', '99.42'],
      dtype='object'), Index([69.0, 66.0, 68.0, 67.0, 65.0, 71.0, 70.0, 64.0, 63.0, 72.0,
       ...
        0.0, '78', -2.0, -1.0, '11',  '*', '79', '12', '81', '13'],
      dtype='object', length=156), Index([   0.0,    5.0,    6.0,    3.0,    7.0,    8.0,    9.0,   10.0,   11.0,
         13.0,   14.0,   15.0,   16.0,   17.0,   18.0,   20.0,   21.0,   22.0,
          '8',    '9',    '7',   '10',    '6',   23.0,   '11',    '5',   24.0,
         '13',   '14',    '0',   25.0,    '3',   '15',   '16',   26.0,   '17',
         19.0,   28.0,   29.0,   '18',   '20',   30.0,   '21',   '22',   31.0,
         '23',   32.0,   '24',   33.0,   '25',   34.0,   '26',   '28',   '19',
         '29',   36.0,   37.0,   '31',   '30',   38.0,   '34',   39.0,   40.0,
         '32',   '33',   44.0,   41.0,   '45',   '43',   47.0,   '49',   '38',
         '37',   '36',   45.0,   27.0,   43.0,   '56',   46.0,   '40', 2237.0,
        '33s',   '47',  '45s',   '44',   53.0],
      dtype='object')]

In [12]:
value_list = []
for i in range(len(columns)):
    col = columns[i]
    combined[col] = combined[col].map(lambda x: str(x))  # column seems to contain different data types, resulting in a lot of NAs when converted to float
    combined[col] = combined[col].map(lambda x: x.rstrip("s"))  # suspect values - can be treated the same as actual value for now
    combined[col] = combined[col].map(lambda x: str(0) if x == "T" else x)     # T indicates trace amounts - can be treated as 0s
    combined[col] = combined[col].map(lambda x: x.rstrip("V"))     # no mention of what it means in documentation, assume is the same as suspect values
    combined[col] = combined[col].map(lambda x: str(0) if x == "*" or x == "0.020.01" else x)    # Amounts included in following measurement; time distribution unknown - treat as zero
    combined[col] = combined[col].map(lambda x: float(x))

In [13]:
# see percentage of data missing again to see if there are any changes
combined.head(20)

for i in range(len(columns)):
    col = columns[i]
    print(col, ":", combined[col].isna().sum())
    print("Percentage of data missing:", (combined[col].isna().sum()/len(combined))*100)
    
combined.dtypes

HourlyDewPointTemperature : 7934
Percentage of data missing: 2.8936561312393776
HourlyDryBulbTemperature : 8107
Percentage of data missing: 2.956751985878199
HourlyPrecipitation : 83230
Percentage of data missing: 30.355306251960346
HourlyRelativeHumidity : 8226
Percentage of data missing: 3.0001531806875623
HourlySeaLevelPressure : 56756
Percentage of data missing: 20.69981691260677
HourlyStationPressure : 34675
Percentage of data missing: 12.646524621971947
HourlyVisibility : 8671
Percentage of data missing: 3.1624517663192138
HourlyWetBulbTemperature : 34928
Percentage of data missing: 12.738797750432187
HourlyWindSpeed : 19343
Percentage of data missing: 7.054700094096708

HourlyDewPointTemperature    float64
HourlyDryBulbTemperature     float64
HourlyPrecipitation          float64
HourlyRelativeHumidity       float64
HourlySeaLevelPressure       float64
HourlyStationPressure        float64
HourlyVisibility             float64
HourlyWetBulbTemperature     float64
HourlyWindSpeed              float64
YEAR                           int64
MONTH                          int64
DAY                            int64
dtype: object

In [14]:
# eliminate NAs with by getting mean by month

avg = combined.groupby(["YEAR","MONTH", "DAY"]).mean() # Can create dataframe for daily data set
avg.reset_index(inplace=True)
avg.columns = ["YEAR", "MONTH", "DAY", "DailyDewPointTemperature(celsius)", "DailyDryBulbTemperature(celsius)", "DailyPrecipitation(cm)(Hourlymean)", "DailyRelativeHumidity", "DailySeaLevelPressure(inches)", "DailyStationPressure(inches)", "DailyVisibility", "DailyWetBulbTemperature(celsius)", "DailyWindSpeed(miles/hr)"]
avg.tail(70)  # precipitation in inches to hundredths, need to convert to inches by multiplying by 100 and then cm

,YEAR,MONTH,DAY,DailyDewPointTemperature(celsius),DailyDryBulbTemperature(celsius),DailyPrecipitation(cm)(Hourlymean),DailyRelativeHumidity,DailySeaLevelPressure(inches),DailyStationPressure(inches),DailyVisibility,DailyWetBulbTemperature(celsius),DailyWindSpeed(miles/hr)
3571,2021,2,9,23.931507,30.753425,0.000185,76.164384,30.226909,30.120411,7.613425,28.356164,7.154930
3572,2021,2,10,16.540984,30.360656,0.000208,58.295082,30.294118,30.206557,8.939672,26.098361,5.542373
3573,2021,2,11,19.494253,28.275862,0.004167,71.091954,30.258958,30.163103,6.022989,25.459770,7.034884
3574,2021,2,12,3.541667,26.375000,0.000000,38.270833,30.321667,30.234375,10.000000,20.500000,6.255319
3575,2021,2,13,8.440678,28.271186,0.000000,43.423729,30.273148,30.189492,9.993898,22.762712,9.322034
...,...,...,...,...,...,...,...,...,...,...,...,...
3636,2021,4,15,46.826923,51.673077,0.038529,83.875000,29.721786,29.633269,6.639904,49.201923,6.851485
3637,2021,4,16,35.833333,46.027778,0.001538,68.736111,29.651250,29.571528,9.743333,41.444444,9.333333
3638,2021,4,17,34.421875,49.078125,0.000000,58.609375,29.765714,29.675937,9.992500,42.484375,7.063492
3639,2021,4,18,36.696429,55.571429,0.000000,50.196429,29.822679,29.744643,9.991429,46.678571,5.803571
3640,2021,4,19,38.053571,58.553571,0.000000,47.303571,29.837679,29.759286,9.991429,48.660714,4.607143

In [15]:
# temperature is in Fahrenheit, convert to Celsius

tempcol = ["DailyDewPointTemperature(celsius)", "DailyDryBulbTemperature(celsius)", "DailyWetBulbTemperature(celsius)"]

for i in range(len(tempcol)):
    col = tempcol[i]
    avg[col] = avg[col].map(lambda x:(x - 32)* 5/9)
    
avg["DailyPrecipitation(cm)(Hourlymean)"] = avg["DailyPrecipitation(cm)(Hourlymean)"].map(lambda x: (x*100)*2.54)
av

,YEAR,MONTH,DAY,DailyDewPointTemperature(celsius),DailyDryBulbTemperature(celsius),DailyPrecipitation(cm)(Hourlymean),DailyRelativeHumidity,DailySeaLevelPressure(inches),DailyStationPressure(inches),DailyVisibility,DailyWetBulbTemperature(celsius),DailyWindSpeed(miles/hr)
0,2011,5,2,6.471193,12.453704,0.000000,68.027778,30.221574,30.138621,9.993333,9.779693,6.472222
1,2011,5,3,10.305305,14.671717,0.000000,76.054545,30.069619,29.962545,9.831892,13.343434,8.954955
2,2011,5,4,9.202509,11.645646,7.717692,85.686486,29.954112,29.865937,7.322043,10.028935,9.274194
3,2011,5,5,1.293019,12.227096,0.338667,52.884956,29.922075,29.860833,9.634386,7.024482,11.842105
4,2011,5,6,3.405350,15.102881,0.000000,48.027778,29.926916,29.839661,9.993333,9.416196,9.092593
...,...,...,...,...,...,...,...,...,...,...,...,...
3636,2021,4,15,8.237179,10.929487,9.786471,83.875000,29.721786,29.633269,6.639904,9.556624,6.851485
3637,2021,4,16,2.129630,7.793210,0.390769,68.736111,29.651250,29.571528,9.743333,5.246914,9.333333
3638,2021,4,17,1.345486,9.487847,0.000000,58.609375,29.765714,29.675937,9.992500,5.824653,7.063492
3639,2021,4,18,2.609127,13.095238,0.000000,50.196429,29.822679,29.744643,9.991429,8.154762,5.803571
3640,2021,4,19,3.363095,14.751984,0.000000,47.303571,29.837679,29.759286,9.991429,9.255952,4.607143

In [16]:
# find useful existing variables from dataset
cp_data = pd.read_csv("Central_park_data.csv")
print(cp_data.columns)
cp_data.head(10)

Index(['STATION', 'NAME', 'DATE', 'AWND', 'FMTM', 'PGTM', 'PRCP', 'SNOW',
       'SNWD', 'TAVG', 'TMAX', 'TMIN', 'TSUN', 'WDF2', 'WDF5', 'WSF2', 'WSF5',
       'WT01', 'WT02', 'WT03', 'WT04', 'WT06', 'WT08', 'WT11', 'WT13', 'WT14',
       'WT16', 'WT18', 'WT19', 'WT22'],
      dtype='object')

,STATION,NAME,DATE,AWND,FMTM,PGTM,PRCP,SNOW,SNWD,TAVG,...,WT04,WT06,WT08,WT11,WT13,WT14,WT16,WT18,WT19,WT22
0,USW00094728,"NY CITY CENTRAL PARK, NY US",5/2/2011,5.14,1331.0,225.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USW00094728,"NY CITY CENTRAL PARK, NY US",5/3/2011,6.71,2250.0,2035.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USW00094728,"NY CITY CENTRAL PARK, NY US",5/4/2011,6.04,1904.0,651.0,0.5,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN
3,USW00094728,"NY CITY CENTRAL PARK, NY US",5/5/2011,8.50,1608.0,1540.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,USW00094728,"NY CITY CENTRAL PARK, NY US",5/6/2011,5.82,1427.0,1842.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,USW00094728,"NY CITY CENTRAL PARK, NY US",5/7/2011,5.82,1604.0,1601.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,USW00094728,"NY CITY CENTRAL PARK, NY US",5/8/2011,4.92,1747.0,1744.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,USW00094728,"NY CITY CENTRAL PARK, NY US",5/9/2011,7.16,1242.0,1550.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,USW00094728,"NY CITY CENTRAL PARK, NY US",5/10/2011,5.59,1231.0,1223.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,USW00094728,"NY CITY CENTRAL PARK, NY US",5/11/2011,5.82,743.0,701.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
remove_list = []     # see which columns are not useful because they have too much NAs

for col in cp_data.columns:
    if cp_data[col].isna().sum()> (len(cp_data)/2):
        remove_list.append(col)
        
remove_list

remain_col = []       # see which columns might be useful

for col in cp_data.columns:
    if col not in remove_list:
        remain_col.append(col)

remain_col

['STATION',
 'NAME',
 'DATE',
 'AWND',
 'PRCP',
 'SNOW',
 'SNWD',
 'TMAX',
 'TMIN',
 'WDF2',
 'WDF5',
 'WSF2',
 'WSF5']

In [18]:
cplaguardia_data = pd.read_csv("https://www.ncei.noaa.gov/access/services/data/v1?dataset=daily-summaries&stations=USW00014732,USW00094728&startDate=2011-05-02&endDate=2021-04-19&dataTypes=AWND,PRCP,SNOW,SNWD,TMAX,TMIN,WDF2,WDF5,WSF2,WSF5&format=csv&units=metric")
cplaguardia_data.columns = ["STATION", "DATE", "AWND(metres/sec)", "PRCP(cm)", "SNOW(cm)", "SNWD(cm)", "TMAX(celsius)", "TMIN(celsius)", "WDF2(degrees)", "WDF5(degrees)", "WSF2(metres/sec)", "WSF5(metres/sec)"]
cplaguardia_data = cplaguardia_data.drop(columns = ["STATION"])
cplaguardia_data   #PRCP, SNOW, and SNWD is actually in mm, convert to cm later

,DATE,AWND(metres/sec),PRCP(cm),SNOW(cm),SNWD(cm),TMAX(celsius),TMIN(celsius),WDF2(degrees),WDF5(degrees),WSF2(metres/sec),WSF5(metres/sec)
0,2011-05-02,3.3,0.0,0.0,0.0,16.1,10.0,170.0,170.0,7.2,9.4
1,2011-05-03,4.2,0.0,0.0,0.0,21.7,11.1,280.0,270.0,8.0,10.7
2,2011-05-04,5.0,12.7,0.0,0.0,17.2,8.3,300.0,300.0,9.8,11.6
3,2011-05-05,6.7,0.0,0.0,0.0,17.2,8.3,300.0,300.0,13.4,16.1
4,2011-05-06,5.0,0.0,0.0,0.0,20.6,11.1,180.0,190.0,10.3,13.4
...,...,...,...,...,...,...,...,...,...,...,...
7277,2021-04-15,2.2,21.1,0.0,0.0,14.4,7.2,320.0,250.0,5.4,10.3
7278,2021-04-16,3.0,1.0,0.0,0.0,11.7,5.0,210.0,210.0,7.2,12.1
7279,2021-04-17,2.3,0.0,0.0,0.0,13.3,6.1,240.0,250.0,5.8,8.1
7280,2021-04-18,1.6,0.0,0.0,0.0,17.8,9.4,220.0,230.0,4.5,7.6
7281,2021-04-19,1.3,0.0,0.0,0.0,18.3,11.1,100.0,190.0,5.4,8.5

In [19]:
# create YEAR, MONTH, DAY columns

cplaguardia_data["DATE"] = cplaguardia_data.DATE.map(pd.Timestamp)
cplaguardia_data["YEAR"] = cplaguardia_data.DATE.map(lambda dt: dt.year)   #extract year from DATE
cplaguardia_data["MONTH"] = cplaguardia_data.DATE.map(lambda dm: dm.month)
cplaguardia_data["DAY"] = cplaguardia_data.DATE.map(lambda dd: dd.day)
cplaguardia_data = cplaguardia_data.sort_values(by = ["YEAR", "MONTH", "DAY"], ascending = True)
cplaguardia_data = cplaguardia_data.reset_index(drop = True)
cplaguardia_data.head(20)

cplaguardia_data = cplaguardia_data.drop(columns = ["DATE"])
 
cplaguardia_data

,AWND(metres/sec),PRCP(cm),SNOW(cm),SNWD(cm),TMAX(celsius),TMIN(celsius),WDF2(degrees),WDF5(degrees),WSF2(metres/sec),WSF5(metres/sec),YEAR,MONTH,DAY
0,3.3,0.0,0.0,0.0,16.1,10.0,170.0,170.0,7.2,9.4,2011,5,2
1,2.3,0.0,0.0,0.0,17.2,10.0,130.0,160.0,4.5,7.2,2011,5,2
2,4.2,0.0,0.0,0.0,21.7,11.1,280.0,270.0,8.0,10.7,2011,5,3
3,3.0,0.0,0.0,0.0,23.9,12.8,270.0,160.0,6.3,8.9,2011,5,3
4,5.0,12.7,0.0,0.0,17.2,8.3,300.0,300.0,9.8,11.6,2011,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7277,2.3,0.0,0.0,0.0,13.3,6.1,240.0,250.0,5.8,8.1,2021,4,17
7278,3.4,0.0,0.0,0.0,17.2,10.0,180.0,180.0,6.7,8.1,2021,4,18
7279,1.6,0.0,0.0,0.0,17.8,9.4,220.0,230.0,4.5,7.6,2021,4,18
7280,2.6,0.0,0.0,NaN,18.3,11.1,170.0,180.0,7.6,9.4,2021,4,19
7281,1.3,0.0,0.0,0.0,18.3,11.1,100.0,190.0,5.4,8.5,2021,4,19

In [23]:
# check for dtype and NAs in columns

print(cplaguardia_data.dtypes)

AWND(metres/sec)    float64
PRCP(cm)            float64
SNOW(cm)            float64
SNWD(cm)            float64
TMAX(celsius)       float64
TMIN(celsius)       float64
WDF2(degrees)       float64
WDF5(degrees)       float64
WSF2(metres/sec)    float64
WSF5(metres/sec)    float64
YEAR                  int64
MONTH                 int64
DAY                   int64
dtype: object

In [21]:
# remove duplicates in data first (two observations for one day due to getting data from two stations)

cpl_avg = cplaguardia_data.groupby(["YEAR","MONTH", "DAY"]).mean() # Can create dataframe for daily data set
cpl_avg.reset_index(inplace=True)

# change columns using mm to cm

mm_col = ["PRCP(cm)", "SNOW(cm)", "SNWD(cm)"]
for i in range(3):
    col = mm_col[i]
    cpl_avg[col] = cpl_avg[col].map(lambda x: x/10)
    
cpl_avg

,YEAR,MONTH,DAY,AWND(metres/sec),PRCP(cm),SNOW(cm),SNWD(cm),TMAX(celsius),TMIN(celsius),WDF2(degrees),WDF5(degrees),WSF2(metres/sec),WSF5(metres/sec)
0,2011,5,2,2.80,0.000,0.0,0.0,16.65,10.00,150.0,165.0,5.85,8.30
1,2011,5,3,3.60,0.000,0.0,0.0,22.80,11.95,275.0,215.0,7.15,9.80
2,2011,5,4,3.85,1.270,0.0,0.0,17.50,8.05,300.0,305.0,8.05,10.95
3,2011,5,5,5.25,0.000,0.0,0.0,17.75,8.05,290.0,310.0,10.70,14.30
4,2011,5,6,3.80,0.000,0.0,0.0,21.40,10.55,175.0,175.0,8.30,11.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3636,2021,4,15,3.25,2.225,0.0,0.0,14.70,7.20,325.0,295.0,7.85,11.40
3637,2021,4,16,4.40,0.100,0.0,0.0,11.70,5.30,255.0,255.0,9.20,14.10
3638,2021,4,17,3.15,0.000,0.0,0.0,13.05,6.40,275.0,275.0,6.25,8.75
3639,2021,4,18,2.50,0.000,0.0,0.0,17.50,9.70,200.0,205.0,5.60,7.85
3640,2021,4,19,1.95,0.000,0.0,0.0,18.30,11.10,135.0,185.0,6.50,8.95

In [24]:
for col in cpl_avg.columns:
    print(col, ":", cpl_avg[col].isna().sum())
    print("Percentage of data missing:", (cpl_avg[col].isna().sum()/len(cpl_avg))*100, "\n")

YEAR : 0
Percentage of data missing: 0.0

MONTH : 0
Percentage of data missing: 0.0

DAY : 0
Percentage of data missing: 0.0

AWND(metres/sec) : 0
Percentage of data missing: 0.0

PRCP(cm) : 0
Percentage of data missing: 0.0

SNOW(cm) : 0
Percentage of data missing: 0.0

SNWD(cm) : 0
Percentage of data missing: 0.0

TMAX(celsius) : 0
Percentage of data missing: 0.0

TMIN(celsius) : 0
Percentage of data missing: 0.0

WDF2(degrees) : 0
Percentage of data missing: 0.0

WDF5(degrees) : 0
Percentage of data missing: 0.0

WSF2(metres/sec) : 0
Percentage of data missing: 0.0

WSF5(metres/sec) : 0
Percentage of data missing: 0.0

In [26]:
# combine both datasets to get final dataset
# then create csv in case data is lost

merged_df = pd.merge(cpl_avg, avg, how='left', on=["YEAR", "MONTH","DAY"])
merged_df
merged_df.to_csv('finalsproject_dataset.csv')